<div class="row">
  <div class="col-6 col-md-12">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-block rounded-pill" [disabled]="(gameService.started | async)"
        (click)="playGame()"><i class="fa fa-play" aria-hidden="true"></i> {{ 'game-buttons.play.title' | translate
        }}</button>
      <button type="button" class="btn btn-info btn-block rounded-pill"
        [disabled]="(gameService.started | async) === false" (click)="stopGame()"><i class="fa-solid fa-stop"></i> {{
        'game-buttons.finish.title' |
        translate }}</button>
    </div>
  </div>
</div>
 